*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: black;
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size: 60px;
    background-color: yellow;
    color: blueviolet;
    padding: 8px;
    font-weight: bold;
    font-family: cursive;
    border-radius: 20px;
}
.nav{
    font-size: 25px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    width: 60%;
}
.nav a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    letter-spacing: 5px;
}
section{
    background-color: blanchedalmond;
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 45px;
    letter-spacing: 5px;
    padding: 10px;
}
p{
    color: red;
    font-size: 30px;
    padding: 5px;
}
h3{
    font-size: 85px;
    padding: 5px;
}
.mypic img{
    margin-left: 100px;
    height: 50vh;
}
.name{
    font-size: 40px;
    font-style: italic;
    font-weight: bolder;
    margin-left: 111px;
}
h2{
    font-size: 40px;
    letter-spacing: 2px;
    word-spacing: 5px;
    text-align: center;
}
footer{
    background-color: aquamarine;
    height: 25vh;
    width: 100%;
}
.icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin-left: 20%;
    margin-top: 10px;
}



@media only screen and (max-width: 567px){
    header{
        height: 50%;
        width: 100%;
       display: block;
       padding: 10px;
    }
    .logo{
        font-size: 40px;
        text-align: center;
    }
    .nav{
        display: block;
        text-align: center;
        margin-left: 60px;
        padding: 10px;
    }
    .nav a{
        font-size: 25px;
    }
    section{
        display: block;
        height: 80vh;

    }
    h1{
        font-size: 25px;
        text-align: center;
    }
    p{
        font-size: 30px;
        text-align: center;
    }
    h3{
        font-size: 45px;
        text-align: center;
    }
    .mypic img{
        margin-left: 50px;
        height: 40vh;
    }
    .name{
        font-size: 30px;
        margin-left: 67px;
    }
    h2{
        font-size: 30px;
        padding: 10px;
        letter-spacing: 2px;
        word-spacing: 5px;
        text-align: center;
    }
    footer{
        //margin-top: 140px;
        height: 65vh;
    }
    .icon{
        display: block;
        width: 0%;
        margin-left: 36%;
        margin-top: 10px;
    }
}